// Mixin para flexbox centrado
@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

// Mixin para box-sizing
@mixin box-sizing {
  box-sizing: border-box;
}

// Mixin para transición de color
@mixin transition-color {
  transition: color 0.3s;
}
