// Variables de colores
$primary-bg-color: #2E2E2E;
$primary-text-color: #EAEAEA;
$link-color: #F0D700;
$link-hover-color: #BB86FC;
$body-bg-color: #D1D8E0;
$body-text-color: #1F1F1F;

// Variables de espaciado
$padding-standard: 10px;
$gap-standard: 20px;

